version: '3.6'

services:
  jupyter:
     build:
       context: .
       dockerfile: ./binder/Dockerfile
     ports:
       - 9016:8888
     volumes:
       - ./work:/home/jovyan/work

     # there is no need to specify the command. This is inherited from the Dockerfile
